# GerardoGran/gemini-tla-verification / stars & forks statistics

[Open repository/GerardoGran/gemini-tla-verification](https://github.com/GerardoGran/gemini-tla-verification)

Stats updated on Oct 2022, 07

☋ Forks: 2

★ Stars: 2

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2022-10-01 | 2 | 2 | 
| 2022-09-30 | 2 | 1 | 
| 2022-09-29 | 2 | 1 | 
| 2022-09-28 | 1 | 1 | 
| 2022-09-27 | 1 | 1 | 
| 2022-09-26 | 1 | 1 | 
| 2022-09-25 | 1 | 1 | 
| 2022-09-24 | 1 | 1 | 
| 2022-09-23 | 1 | 1 | 
| 2022-09-22 | 1 | 1 | 
| 2022-09-21 | 1 | 1 | 
| 2022-09-20 | 1 | 1 | 
| 2022-09-19 | 1 | 1 | 
| 2022-09-18 | 1 | 1 | 
| 2022-09-17 | 1 | 1 | 
| 2022-09-16 | 1 | 1 | 
| 2022-09-15 | 1 | 1 | 
| 2022-09-14 | 1 | - | 
| 2022-09-13 | 1 | - | 
| 2022-09-12 | 1 | - | 
| 2022-09-11 | 1 | - | 
| 2022-09-10 | 1 | - | 
| 2022-09-09 | 1 | - | 
| 2022-09-08 | 1 | - | 
| 2022-09-07 | 1 | - | 
| 2022-09-06 | 1 | - | 
| 2022-09-05 | 1 | - | 
| 2022-09-04 | 1 | - | 
| 2022-09-03 | 1 | - | 
| 2022-09-02 | - | - | 


[Detailed charts & statistics for GerardoGran/gemini-tla-verification](https://reviewgithub.com/rep/GerardoGran/gemini-tla-verification)
