# avashist003/SystemVerilog_Design_Verification - stars & forks statistics

Stats updated on Dec 2022, 05

☋ Forks: 2

★ Stars: 12

[Open repository](https://github.com/avashist003/SystemVerilog_Design_Verification)

[Open detailed stats for avashist003/SystemVerilog_Design_Verification](https://reviewgithub.com/rep/avashist003/SystemVerilog_Design_Verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2022-12-05 | 12 | 2 | 
| 2022-12-04 | 12 | 2 | 
| 2022-12-03 | 11 | 2 | 
| 2022-12-01 | 11 | 2 | 
| 2022-11-30 | 11 | 2 | 
| 2022-11-29 | 11 | 2 | 
| 2022-11-28 | 11 | 2 | 
| 2022-11-27 | 11 | 2 | 
| 2022-11-26 | 10 | 2 | 
| 2022-11-25 | 10 | 2 | 
| 2022-11-24 | 10 | 2 | 
| 2022-11-23 | 10 | 2 | 
| 2022-11-22 | 10 | 2 | 
| 2022-11-21 | 10 | 2 | 
| 2022-11-20 | 10 | 2 | 
| 2022-11-19 | 10 | 2 | 
| 2022-11-18 | 10 | 2 | 
| 2022-11-17 | 10 | 2 | 
| 2022-11-16 | 10 | 2 | 
| 2022-11-15 | 10 | 2 | 
| 2022-11-14 | 10 | 2 | 
| 2022-11-13 | 10 | 2 | 
| 2022-11-12 | 10 | 2 | 
| 2022-11-11 | 10 | 2 | 
| 2022-11-10 | 10 | 2 | 
| 2022-11-09 | 10 | 2 | 
| 2022-11-07 | 10 | 2 | 
| 2022-11-06 | 10 | 2 | 

