# avashist003/SystemVerilog_Design_Verification - stars & forks statistics

Stats updated on Feb 2023, 07

☋ Forks: 3

★ Stars: 14

[Open repository](https://github.com/avashist003/SystemVerilog_Design_Verification)

[Open detailed stats for avashist003/SystemVerilog_Design_Verification](https://reviewgithub.com/rep/avashist003/SystemVerilog_Design_Verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2023-02-07 | 14 | 3 | 
| 2023-02-06 | 14 | 3 | 
| 2023-02-05 | 14 | 3 | 
| 2023-02-04 | 14 | 3 | 
| 2023-02-03 | 14 | 3 | 
| 2023-02-02 | 14 | 3 | 
| 2023-02-01 | 14 | 3 | 
| 2023-01-31 | 14 | 3 | 
| 2023-01-30 | 14 | 3 | 
| 2023-01-28 | 14 | 3 | 
| 2023-01-27 | 14 | 3 | 
| 2023-01-26 | 14 | 3 | 
| 2023-01-25 | 14 | 3 | 
| 2023-01-24 | 14 | 3 | 
| 2023-01-23 | 14 | 3 | 
| 2023-01-22 | 14 | 3 | 
| 2023-01-21 | 14 | 3 | 
| 2023-01-20 | 14 | 3 | 
| 2023-01-19 | 14 | 3 | 
| 2023-01-18 | 14 | 3 | 
| 2023-01-17 | 13 | 3 | 
| 2023-01-16 | 13 | 3 | 
| 2023-01-15 | 13 | 3 | 
| 2023-01-14 | 13 | 3 | 
| 2023-01-13 | 13 | 3 | 
| 2023-01-12 | 13 | 3 | 
| 2023-01-11 | 13 | 3 | 
| 2023-01-10 | 13 | 3 | 
| 2023-01-09 | 13 | 3 | 

