# avashist003/SystemVerilog_Design_Verification - stars & forks statistics

Stats updated on Nov 2022, 16

☋ Forks: 2

★ Stars: 10

[Open repository](https://github.com/avashist003/SystemVerilog_Design_Verification)

[Open detailed stats for avashist003/SystemVerilog_Design_Verification](https://reviewgithub.com/rep/avashist003/SystemVerilog_Design_Verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2022-11-16 | 10 | 2 | 
| 2022-11-15 | 10 | 2 | 
| 2022-11-14 | 10 | 2 | 
| 2022-11-13 | 10 | 2 | 
| 2022-11-12 | 10 | 2 | 
| 2022-11-11 | 10 | 2 | 
| 2022-11-10 | 10 | 2 | 
| 2022-11-09 | 10 | 2 | 
| 2022-11-07 | 10 | 2 | 
| 2022-11-06 | 10 | 2 | 
| 2022-11-05 | 10 | 2 | 
| 2022-11-04 | 10 | 2 | 
| 2022-11-03 | 10 | 2 | 
| 2022-11-02 | 10 | 2 | 
| 2022-11-01 | 10 | 2 | 
| 2022-10-31 | 10 | 2 | 
| 2022-10-30 | 10 | 2 | 
| 2022-10-29 | 10 | 2 | 
| 2022-10-28 | 10 | 2 | 
| 2022-10-27 | 10 | 2 | 
| 2022-10-26 | 10 | 2 | 
| 2022-10-25 | 10 | 2 | 
| 2022-10-24 | 10 | 2 | 
| 2022-10-23 | 10 | 2 | 
| 2022-10-22 | 10 | 2 | 
| 2022-10-21 | 10 | 2 | 
| 2022-10-20 | 10 | 2 | 
| 2022-10-19 | 10 | 2 | 
| 2022-10-18 | 10 | 2 | 

