# avashist003/SystemVerilog_Design_Verification - stars & forks statistics

Stats updated on Apr 2023, 09

☋ Forks: 3

★ Stars: 17

[Open repository](https://github.com/avashist003/SystemVerilog_Design_Verification)

[Open detailed stats for avashist003/SystemVerilog_Design_Verification](https://reviewgithub.com/rep/avashist003/SystemVerilog_Design_Verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2023-04-09 | 17 | 3 | 
| 2023-04-08 | 17 | 3 | 
| 2023-04-07 | 17 | 3 | 
| 2023-04-06 | 17 | 3 | 
| 2023-04-05 | 17 | 3 | 
| 2023-04-03 | 17 | 3 | 
| 2023-04-02 | 17 | 3 | 
| 2023-04-01 | 17 | 3 | 
| 2023-03-30 | 17 | 3 | 
| 2023-03-28 | 17 | 3 | 
| 2023-03-27 | 17 | 3 | 
| 2023-03-26 | 17 | 3 | 
| 2023-03-25 | 17 | 3 | 
| 2023-03-23 | 16 | 3 | 
| 2023-03-22 | 16 | 3 | 
| 2023-03-20 | 16 | 3 | 
| 2023-03-19 | 16 | 3 | 
| 2023-03-18 | 16 | 3 | 
| 2023-03-16 | 16 | 3 | 
| 2023-03-15 | 16 | 3 | 
| 2023-03-14 | 16 | 3 | 
| 2023-03-12 | 16 | 3 | 
| 2023-03-11 | 16 | 3 | 

