# avashist003/SystemVerilog_Design_Verification - stars & forks statistics

Stats updated on Dec 2022, 22

☋ Forks: 3

★ Stars: 13

[Open repository](https://github.com/avashist003/SystemVerilog_Design_Verification)

[Open detailed stats for avashist003/SystemVerilog_Design_Verification](https://reviewgithub.com/rep/avashist003/SystemVerilog_Design_Verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2022-12-22 | 13 | 3 | 
| 2022-12-21 | 13 | 3 | 
| 2022-12-20 | 13 | 3 | 
| 2022-12-19 | 13 | 3 | 
| 2022-12-18 | 13 | 3 | 
| 2022-12-17 | 13 | 2 | 
| 2022-12-16 | 13 | 2 | 
| 2022-12-15 | 13 | 2 | 
| 2022-12-14 | 13 | 2 | 
| 2022-12-13 | 13 | 2 | 
| 2022-12-11 | 13 | 2 | 
| 2022-12-10 | 12 | 2 | 
| 2022-12-09 | 12 | 2 | 
| 2022-12-08 | 12 | 2 | 
| 2022-12-06 | 12 | 2 | 
| 2022-12-05 | 12 | 2 | 
| 2022-12-04 | 12 | 2 | 
| 2022-12-03 | 11 | 2 | 
| 2022-12-01 | 11 | 2 | 
| 2022-11-30 | 11 | 2 | 
| 2022-11-29 | 11 | 2 | 
| 2022-11-28 | 11 | 2 | 
| 2022-11-27 | 11 | 2 | 
| 2022-11-26 | 10 | 2 | 
| 2022-11-25 | 10 | 2 | 
| 2022-11-24 | 10 | 2 | 
| 2022-11-23 | 10 | 2 | 

