# NilFoundation/evm-placeholder-verification - stars & forks statistics

Stats updated on Nov 2022, 29

☋ Forks: 1

★ Stars: 0

[Open repository](https://github.com/NilFoundation/evm-placeholder-verification)

[Open detailed stats for NilFoundation/evm-placeholder-verification](https://reviewgithub.com/rep/NilFoundation/evm-placeholder-verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2022-11-29 | - | 1 | 
| 2022-11-28 | - | 1 | 
| 2022-11-27 | - | 1 | 
| 2022-11-26 | - | 1 | 
| 2022-11-25 | - | 1 | 
| 2022-11-24 | - | 1 | 
| 2022-11-23 | - | 1 | 
| 2022-11-22 | - | 1 | 
| 2022-11-21 | - | 1 | 

