# NilFoundation/evm-placeholder-verification - stars & forks statistics

Stats updated on Feb 2023, 26

☋ Forks: 2

★ Stars: 1

[Open repository](https://github.com/NilFoundation/evm-placeholder-verification)

[Open detailed stats for NilFoundation/evm-placeholder-verification](https://reviewgithub.com/rep/NilFoundation/evm-placeholder-verification)

## Historical data
| Date | Stars | Forks |
|------|-------|-------|
| 2023-02-26 | 1 | 2 | 
| 2023-02-25 | 1 | 2 | 
| 2023-02-24 | 1 | 2 | 
| 2023-02-23 | 1 | 2 | 
| 2023-02-22 | 1 | 2 | 
| 2023-02-21 | 1 | 2 | 
| 2023-02-20 | 1 | 2 | 
| 2023-02-19 | - | 2 | 
| 2023-02-18 | - | 2 | 
| 2023-02-17 | - | 2 | 
| 2023-02-15 | - | 2 | 
| 2023-02-14 | - | 2 | 
| 2023-02-13 | - | 2 | 
| 2023-02-12 | - | 2 | 
| 2023-02-11 | - | 2 | 
| 2023-02-10 | - | 2 | 
| 2023-02-09 | - | 2 | 
| 2023-02-08 | - | 2 | 
| 2023-02-07 | - | 2 | 
| 2023-02-06 | - | 2 | 
| 2023-02-05 | - | 2 | 
| 2023-02-04 | - | 2 | 
| 2023-02-02 | - | 2 | 
| 2023-02-01 | - | 2 | 
| 2023-01-31 | 1 | 2 | 
| 2023-01-30 | 1 | 2 | 
| 2023-01-29 | 1 | 2 | 
| 2023-01-28 | 1 | 2 | 

